<div class="img-collection">
  <div class="firstimg imgsize">
    <img src="{{ section.settings.collection-img1 | img_url:'master' }}" alt="{{section.settings.collection-img1}}">
    <div class="textoverlay">
       <div class="textoverlay-text">
      <p class="title">{{ section.settings.firstimg-head}}</p>
      <p class="subtitle">{{ section.settings.firstimg-para}}</p>
      <a class="btn" href="{{section.settings.firstbtn-link}}">{{section.settings.firstbtn-text}}</a>
    </div>
  </div>
</div>
</div>
  

{% schema %}
  {
    "name": "Banner",
    "settings": [
	     {
        "type": "image_picker",
        "id": "collection-img1",
        "label": "Banner Image"
      },
      {
        "id": "firstimg-head",
        "type": "text",
        "label": "Banner Title",
        "default": "Summer Fresh"
      },
      {
        "id": "firstimg-para",
        "type": "textarea",
        "label": "Banner Subtitle",
        "default": "Summer Fresh"
      },
      {
        "id": "firstbtn-text",
        "type": "text",
        "label": "Banner Button",
        "default": "SHOP COLLECTION"
      },
      {
        "id": "firstbtn-link",
        "type": "url",
        "label": "Banner button URL"
      },
      {
        "type": "select",
        "id": "align",
        "label": "Text align",
        "options": [
          {
            "value": "start",
            "label": "Start"
          },
          {
          "value": "center",
            "label": "Center"
          },
          {
            "value": "end",
            "label": "End"
          }
        ],
        "default": "center"
     }
    ],
    "presets": [
    {
      "category": "Banner",
      "name": "Banner"
    }
  ] 
}
{% endschema %}




  
  

