<div class="img-collection">
  <div class="firstimg imgsize">
    <img src="{{ section.settings.collection-img1 | img_url:'master' }}" alt="{{section.settings.collection-img1}}">
    <div class="textoverlay">
       <div class="textoverlay-text">
      <h1>{{ section.settings.firstimg-head}}</h1>
      <p>{{ section.settings.firstimg-para}}</p>
      <a href="{{section.settings.firstbtn-link}}">{{section.settings.firstbtn-text}}</a>
    </div>
  </div>
  </div>
  <div class="secimg imgsize">
       <img src="{{ section.settings.collection-img2 | img_url:'master' }}" alt="{{section.settings.collection-img2}}">
 		<div class="textoverlay-text">
      <h1>{{ section.settings.secondimg-head}}</h1>
      <p>{{ section.settings.secondimg-para}}</p>
      <a href="{{section.settings.secondbtn-link}}">{{section.settings.secondbtn-text}}</a>
  </div>
</div>

{% schema %}
  {
    "name": "Image Collection",
    "settings": [
	 {
        "type": "image_picker",
        "id": "collection-img1",
        "label": "collection-img1"
      },
      {
        "type": "image_picker",
        "id": "collection-img2",
        "label": "collection-img2"
      },
      {
        "id": "firstimg-head",
        "type": "text",
        "label": "firstimg-heading",
        "default": "Summer Fresh"
      },
      {
        "id": "firstimg-para",
        "type": "text",
        "label": "firstimg-para",
        "default": "Summer Fresh"
      },
      {
        "id": "firstbtn-text",
        "type": "text",
        "label": "firstbtn-text",
        "default": "SHOP COLLECTION"
      },
      {
        "id": "firstbtn-link",
        "type": "url",
        "label": "First Button link"
      },
      {
        "id": "secondimg-head",
        "type": "text",
        "label": "Secondimg-heading",
        "default": "Our Best Dresses"
      },
	
		{
        "id": "secondimg-para",
        "type": "text",
        "label": "secondimg-para",
        "default": "Summer Fresh"
      },
      {
        "id": "secondbtn-text",
        "type": "text",
        "label": "Second Button text",
        "default": "SHOP NOW"
      },
      {
        "id": "secondbtn-link",
        "type": "url",
        "label": "Second Button link"
      }
    ],
    "presets": [
    {
      "category": "img-collection",
      "name": "img-collection"
    }
  ] 
}
{% endschema %}




  
  

